/* _content/CookingInstructor/Shared/MainLayout.razor.rz.scp.css */
.page[b-l5r0d4vev0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-l5r0d4vev0] {
    flex: 1;
}


/* _content/CookingInstructor/Shared/NavMenu.razor.rz.scp.css */

.bottom[b-birjrxxdut]{
    bottom: 0;
}
