/* _content/CookingInstructor/Pages/Discover.razor.rz.scp.css */
body[b-5nzr97qvo4] {
  background-color: #ffeead;
  font-size: 20px;
}


.header1[b-5nzr97qvo4] {
  display: flex;
  background-color: #ce9d96;
  height: 40px;
}
.header1 > div:nth-child(4)[b-5nzr97qvo4] {
  margin-left: auto;
  padding: 0 10px;
}
.header1 > div:nth-child(3)[b-5nzr97qvo4] {
  margin-left: auto;
  padding: 0 10px;
}
.header1 > div:nth-child(2)[b-5nzr97qvo4] {
  margin-left: auto;
  padding: 0 10px;
}

.header2[b-5nzr97qvo4] {
  background-color: #96ceb4;
  display: flex;
  justify-content: space-evenly;
}
.header2 > div:nth-child(3)[b-5nzr97qvo4] {
  margin-left: auto;
  padding: 0 10px;
}


.header3[b-5nzr97qvo4] {
  display: flex;
  background-color: #96ceb4;
  justify-content: space-evenly;
  font-size: 17px;
}



.content[b-5nzr97qvo4] 
{
  padding: 0 10px;
  background-color: #ffcc5c;
  width: auto
}


  
/* _content/CookingInstructor/Pages/Filter.razor.rz.scp.css */
/* _content/CookingInstructor/Pages/IngredientList.razor.rz.scp.css */

*[b-krz32f7xsb] {box-sizing: border-box;}


div.ingList[b-krz32f7xsb]
{
  height:1000px; 
  width: 500px; 
  overflow:hidden;
  overflow-y:scroll;
}

div.stepList[b-krz32f7xsb]
{
  height:1000px; 
  width: 500px; 
  overflow:hidden;
  overflow-y:scroll;
}

/* _content/CookingInstructor/Pages/SplitScroll.razor.rz.scp.css */
*[b-1jzlz5t8s6] {box-sizing: border-box;}

input[type=checkbox]:checked + label[b-1jzlz5t8s6] {
    color:black;
    text-decoration: line-through;
  } /*This is the MDN spec for doing this*/

div.ingList[b-1jzlz5t8s6]
{
  height: auto; 
  width: auto; 
  overflow:hidden;
  overflow-y:scroll;
}

div.stepList[b-1jzlz5t8s6]
{
  height: auto; 
  width: auto; 
  overflow:hidden;
  overflow-y:scroll;
}

/* _content/CookingInstructor/Pages/ToolTip.razor.rz.scp.css */
.ToolTip[b-dt8ibfmzn0]{
    /* position: absolute; */
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.ToolTip[b-dt8ibfmzn0]:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.ToolTip:hover p[b-dt8ibfmzn0]{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn-b-dt8ibfmzn0 0.3s ease-in-out;

}

.ToolTip p[b-dt8ibfmzn0]{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.ToolTip p[b-dt8ibfmzn0]:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.ToolTip p[b-dt8ibfmzn0]:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn-b-dt8ibfmzn0 {
    0% { opacity:0; }
    100% { opacity:100%; }
}
/* _content/CookingInstructor/Shared/CuisineImage.razor.rz.scp.css */
.Cuisine[b-6fis10z7yv]{
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #000;
}

.Cuisine img[b-6fis10z7yv]{
    width: 300px;
    height: 300px;
    position: absolute;
}

.cuisineLink[b-6fis10z7yv]{
    text-decoration: none;
    display: inline-block;
    width: 300px;
    color: black;
}


.Cuisine h2[b-6fis10z7yv]{
    position: absolute;
    text-align: center;
    width: 300px;
    color: white;
    bottom: 50px;
}

.Cuisine h6[b-6fis10z7yv]{
    position: absolute;
    text-align: center;
    width: 300px;
    color: grey;
    bottom: 30px;
}

.image-overlay[b-6fis10z7yv]{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;

}

.Cuisine:hover .image-overlay[b-6fis10z7yv]{
    opacity: 0.7;
    transition: 1s;
}
/* _content/CookingInstructor/Shared/MainLayout.razor.rz.scp.css */
.page[b-l5r0d4vev0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-l5r0d4vev0] {
    flex: 1;
}


/* _content/CookingInstructor/Shared/NavMenu.razor.rz.scp.css */

.bottom[b-birjrxxdut]{
    bottom: 0;
}
/* _content/CookingInstructor/Shared/RecipeImage.razor.rz.scp.css */
.Recipe[b-39dc23457n]{
    width: 300px;
    height: 300px;
    position: relative;
}

.Recipe img[b-39dc23457n]{
    width: 300px;
    height: 300px;
    position: absolute;
}

.recipeImage[b-39dc23457n]{
    z-index: 0;
}


.spicyLevel[b-39dc23457n]{
    color: red;
    position:absolute;
    top: 8px;
    right: 16px;
    text-shadow: 0 0 10px blue;
    font-size: 25px
}

.difficultyLevel[b-39dc23457n]{
    color: white;
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 10px blue;
    font-size: 25px;
    
}

.recipeLink[b-39dc23457n]{
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 300px;
    background-image:
    linear-gradient(to bottom, rgba(114, 114, 114, 0.52), rgba(0, 0, 0, 0.73));
    background-size: cover;
    color: white;
}


.recipeLink h1[b-39dc23457n]{
    text-align: center;
    width: 300px;
    color: white;
}

.recipeTime[b-39dc23457n]{
    display: inline;
    color: white;
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-style: bold;
    text-shadow: 1px 1px black;
    
}
/* _content/CookingInstructor/Shared/RecipeImageHorizontal.razor.rz.scp.css */
.recipeLink[b-cbt497x4u3]{
    height: 175px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 812px;
    margin-left: auto;
    margin-right: auto;
}


.recipeImage[b-cbt497x4u3]{
    width: 30%;
    height: 165px;
    margin-top: 5px;
    margin-left: 5px;
    min-width: 165px;
    max-width: 200px;
}

.Recipe[b-cbt497x4u3]{
    width: 100%;
    border: black 1px solid;
    background-color: white;
    border-radius: 2%;
    height: 175px;
    display: flex;
    flex-wrap: nowrap;
    color: black;
}

body[b-cbt497x4u3]{
    background-color:antiquewhite;
}
.recipeName h1[b-cbt497x4u3]
{
    padding-left: 5%;
}

.recipeInfo[b-cbt497x4u3]{
    vertical-align: middle;
}

.RecipeInfo[b-cbt497x4u3]{
    display: inline;
}

.difficultyLevel[b-cbt497x4u3]{
    flex-grow: 8;
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}

.spicyLevel[b-cbt497x4u3]{
    margin-top: 10px;
    margin-left: 10px;
}

.recipeTime[b-cbt497x4u3]{
    margin-left: 10px;
}

.recipeName[b-cbt497x4u3]{
    margin-left: 10px;
    margin-top: 10px;
}

.recipeTime[b-cbt497x4u3]{
    font-weight: bold;
}
