
.header1 {
  display: flex;

  height: 40px;
}
.header1 > div:nth-child(4) {
  margin-left: auto;
  padding: 0 10px;
}
.header1 > div:nth-child(3) {
  margin-left: auto;
  padding: 0 10px;
}
.header1 > div:nth-child(2) {
  margin-left: auto;
  padding: 0 10px;
}

.header2 {
  
  display: flex;
  justify-content: space-evenly;
}
.header2 > div:nth-child(3) {
  margin-left: auto;
  padding: 0 10px;
}
.header2 > div:nth-child(2) {
  margin-left: auto;
  padding: 0 10px;
}
.header2 > div:nth-child(1) {
  
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
}


.header3 {
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
}



.content 
{
  padding: 0 10px;
  width: auto
}


  