@page "/Discover"

<PageTitle>Discover</PageTitle>

<h1>Discover</h1>

<p>Discover some things here</p>

<CuisineImage
    Image="https://cdn.pixabay.com/photo/2018/09/11/16/16/food-3669928__480.jpg"
    Name="Western Style"
    Link="https://www.youtube.com"
/>