@page "/Discover"


<PageTitle>Discover</PageTitle>






<body>
<div class="header1">
    <div>BACK</div>
    <div>Share</div>
    <div>Add Favorite</div>
    <div>
        <ToolTip></ToolTip>
    </div>
    </div>

<div class="header2">
    <div>Beef Stew </div>
    <div>Medium</div>
    <div>Spicy</div>
</div>

<div class="header3">
    <div>26min </div>
    <div> - </div>
    <div>8 servings</div>
    <div> - </div>
    <div>275 cal/servings</div>
</div>


<div class = "container">

    <div class="content">
       

        <div>
            <SplitScroll>
            </SplitScroll> 
        </div>
    </div>




    


</div>
</body>

