<button class="btn btn-primary" @onclick="dropdown">Filter</button>

  @if (show == 1)
  {
  <div id="filterChecks" div style=border:5px solid black;">
    <label>Time:</label>
      <ul style = "padding-left:0px">
        <li style = "display:inline"><input type="checkbox">  &lt;10min </li>
        <li style = "display:inline"><input type="checkbox">  &lt;20min </li>
        <li style = "display:inline"><input type="checkbox"> &lt;30min </li>
        <li style = "display:inline"><input type="checkbox"> &gt;30min </li>
      </ul>

    <label>Difficulty:</label>
      <ul style = "padding-left:0px">
        <li style = "display:inline"><input type="checkbox">Easy </li>
        <li style = "display:inline"><input type="checkbox">Medium </li>
        <li style = "display:inline"><input type="checkbox">Hard </li>
      </ul>

    <label>Types:</label>
      <ul style = "padding-left:0px">
        <li style = "display:inline"><input type="checkbox">Vegan </li>
        <li style = "display:inline"><input type="checkbox">Vegitarian </li>
        <li style = "display:inline"><input type="checkbox">GF </li>
      </ul>
    </div>
  }


@code {
    private int show = 0;

    private void dropdown()
    {
       if(show == 0)
      {
         show = 1;
      }
      else
      {
        show = 0;
      } 
    } 
}