@page "/"

<PageTitle>Index</PageTitle>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="text-center">Feeling Hungry?</h1>

    <div class="d-grid gap-3">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <button
                class="me-3" 
                style="background-color: @bgRecipeButton"
                @onclick="onSearchRecipes">
            Search Recipes</button>
            <button
                style="background-color: @bgIngredientButton"
                @onclick="onSearchIngredients">
            Search by Ingredient</button>
        </div>
        <Searchbar />
    </div>

    @if (areIngredientBoxesVisible) {
        <SearchIngredientsDisplay />
    }
</div>

@code {
    private static String bgHighlight = "lightgray";
    private static String bgNormal = "white";

    private String bgRecipeButton { get; set; } = bgHighlight;
    private String bgIngredientButton { get; set; } = bgNormal;

    private bool areIngredientBoxesVisible = false;
    
    private void onSearchRecipes()
    {
        areIngredientBoxesVisible = false;
        bgRecipeButton = bgHighlight;
        bgIngredientButton = bgNormal;
    } 
    private void onSearchIngredients()
    {
        areIngredientBoxesVisible = true;
        bgRecipeButton = bgNormal;
        bgIngredientButton = bgHighlight;
    }
}



