@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RecipeImage
    Image="https://www.simplilearn.com/ice9/free_resources_article_thumb/link-colors-html-links.PNG"
    Difficulty=3
    SpicyLevel=true
    Name="Beef"
    Time=15
/>