
* {box-sizing: border-box;}


div.ingList
{
  height:1000px; 
  width: 500px; 
  overflow:hidden;
  overflow-y:scroll;
}

div.stepList
{
  height:1000px; 
  width: 500px; 
  overflow:hidden;
  overflow-y:scroll;
}

