

 <div class = "ingList">
  
           <input type="checkbox" id="Ingridient1" name="Ingridient1" value="XXXX">
		   			<label for="Ingridient1"> Tomatoes</label><br>
           <input type="checkbox" id="Ingridient2" name="Ingridient2" value="XXXX">
					<label for="Ingridient2"> Peanut Butter</label><br> 
           <input type="checkbox" id="Ingridient3" name="Ingridient3" value="XXXX">
					<label for="Ingridient3"> Beef</label><br> 
           <input type="checkbox" id="Ingridient4" name="Ingridient4" value="XXXX">
					<label for="Ingridient4"> Ass cheeks</label><br> 
           <input type="checkbox" id="Ingridient5" name="Ingridient5" value="XXXX">
					<label for="Ingridient5"> Bread</label><br>
           <input type="checkbox" id="Ingridient6" name="Ingridient6" value="XXXX">
					<label for="Ingridient6"> Coca-Cola</label><br>
           <input type="checkbox" id="Ingridient6" name="Ingridient6" value="XXXX">
					<label for="Ingridient6"> Coca-Cola</label><br>
           <input type="checkbox" id="Ingridient6" name="Ingridient6" value="XXXX">
					<label for="Ingridient6"> Coca-Cola</label><br>
           <input type="checkbox" id="Ingridient6" name="Ingridient6" value="XXXX">
					<label for="Ingridient6"> Coca-Cola</label><br>
  </div>
