
.header1 {
    display: flex;
    height: 40px;
    justify-content: left;
    margin-bottom: 10px;
    /* background-color: lightblue; */
    
  }
  .header1 > div:nth-child(4) {
    margin-left: auto;
   
  }
  .header1 > div:nth-child(3) {
    margin-left: auto;
   
  }
  .header1 > div:nth-child(2) {
    margin-left: auto;
    
  }
  
  .header2 {
    display: flex;
    margin-bottom: 5px;
  }
  .header2 > div:nth-child(3) {
    margin-left: auto;
    padding: 0 10px;
  }
  .header2 > div:nth-child(2) {
    margin-left: auto;
    padding: 0 10px;
  }
  .header2 > div:nth-child(1) {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
  }
  
  
  .header3 {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
  }
  
  
  .image {
    display: flex;
    font-size: 17px;
  }
  
  .content 
  {
    width: auto;
  }
  
  .recipeImage
  {
      width: 350px;
      height: 200px;
      margin-bottom: 20px;
  
  }
  
  .splitScroll
  {
      position: absolute;
  }
  
  .m1
  {
    font-size: 15px;
    margin-left: 7px;
  }
  
  .m2
  {
    font-size: 15px;
    margin-left: 7px;
  }
  
  .difficulty
  {
    margin-top: 5px;
  }
  
  
  
  
    