@page "/searchpage"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager

<PageTitle>Searches</PageTitle>

<body>

    <div class="d-grid gap-3">

        <div class="h-100 d-flex align-items-center justify-content-center" style="max-width: 812px;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round" class="mx-3">
                    <circle cx="10.5" cy="10.5" r="8"></circle>
                    <line x1="21" y1="25" x2="15.8" y2="18.8"></line>
                </svg>
            </button>
        </div>
    </div>


    <div class="recipeContainer">
        @for (int i = 0; i < list.Length; i++)
        {
            if (list[i].Name.ToUpper().Contains(_name.ToUpper()))
            {
                current = list[i];
                diff = (current.Difficulty == 1) ? "Easy" : (current.Difficulty == 2) ? "Medium" : "Hard";
                <RecipeImageHorizontal 
                    Image =@current.imagePath
                    Difficulty =@current.Difficulty
                    SpicyLevel =@current.Spicy
                    Name =@current.Name
                    Time =@current.Time/>

            }
        }

    </div>
</body>

@code{
    private string? _name;
    private CookingInstructor.RecipeNS.Recipe[]? list;
    private CookingInstructor.RecipeNS.Recipe? current;
    private string diff;

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        if (queryStrings.TryGetValue("name", out var name))
        {
            _name = name;

        }
        Data.Recipes myClass = new Data.Recipes();
        list = myClass.GetRecipes();
    }

}