@page "/searchpage"
@using Microsoft.AspNetCore.WebUtilities
@using System
@using System.Linq
@using System.Collections.Generic;
@inject NavigationManager NavManager
@inject SearchMode SearchMode

<PageTitle>Searches</PageTitle>

<body>
    <Searchbar 
        searchMode="@SearchModeEnum.ByRecipe"
    />
    <div style="margin-bottom: 100px;">
        @foreach(var recipe in recipeResults)
        {
            <RecipeImageHorizontal 
                Index=@matchedRecipesIndexes[recipe]
                Image =@recipe.imagePath
                Difficulty =@recipe.Difficulty
                SpicyLevel =@recipe.Spicy
                Calories =@recipe.CaloriesPerServing
                Name =@recipe.Name
                Time =@recipe.Time/>
        }
    </div>
</body>

@code{
    private string? _name;
    // Use this for original recipeResults in searchBar
    public List<CookingInstructor.RecipeNS.Recipe> recipeResults = new List<CookingInstructor.RecipeNS.Recipe>();
    public Dictionary<CookingInstructor.RecipeNS.Recipe?, int> matchedRecipesIndexes = new Dictionary<CookingInstructor.RecipeNS.Recipe?, int>();


    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        if (queryStrings.TryGetValue("name", out var name))
        {
            _name = name;
        }
    }
}