@page "/Teststar"

<html>
<style>
    button.clickable_img {
        border: none;
        background: none;   
    }
    img.img_layout {
        position: absolute;
        width:40px;
        height:40px;
        right: 10px;
        margin-top: -27px;
        
    }
    img.steps_layout {
        width:350px;
        height:200px;
        margin-bottom: 10px;
    }
</style>
<body>
    <p>
        @Value
         
        <button @onclick=@change_stage class="clickable_img">
        @if (!get_stage())
        {
            <img class="img_layout" src="/images/star_black.png" />
        }
        else
        {
            <img class="img_layout" src="/images/star_black.png" style="filter: invert(80%) sepia(42%) saturate(1211%) hue-rotate(359deg) brightness(103%) contrast(102%);" />
        }
        </button>
        <br />
    </p>

     @if (image != "")
        {
            <img class="steps_layout" src=@image/>
        }
</body>
</html>


@code{
    [Parameter]
    public string? Value { get; set; }
    [Parameter]
    public int? index { get; set; }

    [Parameter]
    public string image { get; set;} = "";

    [Parameter]
    public int? CurrentStep { get; set; }

    bool get_stage() {
        return Index.staticlist[index ?? 0].importance[CurrentStep ?? 0];
    }

    void change_stage()
    {
        Index.staticlist[index ?? 0].importance[CurrentStep ?? 0] = !Index.staticlist[index ?? 0].importance[CurrentStep ?? 0];
    }

}