@page "/Teststar"

<html>
<style>
    button.clickable_img {
        padding: 0;
        border: none;
        background: none;   
    }
    img.img_layout {
        position: absolute;
        width:40px;
        height:40px;
        right: 10px;
        margin-top: -27px;
        
    }
    img.steps_layout {
        width:350px;
        height:200px;
        margin-bottom: 10px;
    }
</style>
<body>
    <p>
        @Value
        @if (important)
        {
            <button @onclick=@change_stage class="clickable_img">
            @if (is_star == false)
            {
                <img class="img_layout" src="/images/star_black.png" />
            }
            else
            {
                <img class="img_layout" src="/images/star_black.png" style="filter: invert(80%) sepia(42%) saturate(1211%) hue-rotate(359deg) brightness(103%) contrast(102%);" />
            }
            </button>
        }
    </p>

     @if (image != "")
        {
            <img class="steps_layout" src=@image/>
        }
</body>
</html>


@code{
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public bool important { get; set; } = false;
    [Parameter]
    public string image { get; set;} = "";


    bool is_star = false;
    void change_stage()
    {
        if (is_star == false)
            is_star = true;
        else
            is_star = false;
    }

}