<div class = "ToolTip"> 
    <p> Click the check boxes for ingredients you have right now! Once all is selected, 
        the box will turn from red to green, indicating you're ready too cook! <br>
        Click on the Star to highlight specific steps!</p>
</div>