<datalist id="datalistOptions">
    @foreach (var suggestion in autocompleteContents(searchMode) ) {
        <option value="@suggestion"></option>
    }
</datalist>

@code {
    [Parameter]
    public SearchModeEnum searchMode { get; set; }

    public String[] autocompleteContents(SearchModeEnum mode) {
        if (mode == SearchModeEnum.ByRecipe) {
            List <string> res = new List<string>();

            foreach (var recipe in SearchService.list)
            {
                res.Add(recipe.Name);
            }
            return res.ToArray();
        }
        else { // ByIngredient
            return new String[] { "Beef", "Chicken", "Chicken Stock", "Potato" };
        }
    }
}