<datalist id="datalistOptions">
    @foreach (var suggestion in autocompleteContents(searchMode) ) {
        <option value="@suggestion"></option>
    }
</datalist>

@code {
    [Parameter]
    public string? searchValue{get;set;} = "";

    [Parameter]
    public SearchModeEnum searchMode { get; set; }

    public String[] autocompleteContents(SearchModeEnum mode) {
        if (mode == SearchModeEnum.ByRecipe) {
            List <string> res = new List<string>();

            foreach (var recipe in SearchService.list)
            {
                if(!searchValue.Equals("")){
                    if(recipe.Name.ToUpper().Contains(searchValue.ToUpper()))
                        res.Add(recipe.Name);
                }else{
                    res.Add(recipe.Name);
                }
            }
            return res.Take(7).ToArray();
        }
        else { // ByIngredient
            List<string> result = new List<string>();
            if(!searchValue.Equals("")){
                foreach (string x in CookingInstructor.Data.Recipes.allIngredients){
                    if(x.ToUpper().Contains(searchValue.ToUpper()))
                        result.Add(x);
                }
            }
            else{
                result = CookingInstructor.Data.Recipes.allIngredients;
            }
            return result.Take(7).ToArray();
        }
    }
}
