<a href = "@Link" class = "cuisineLink">
    <div class = "Cuisine">
        <img class = "cuisineImage" src = "@Image">
        <div class = "image-overlay"></div>
        <h2>@Name</h2>
        <h6>@NumberRecipes Recipes</h6>
    </div>
</a>

@code {
    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public string? Name { get; set; }
    
    [Parameter]
    public int? NumberRecipes { get; set; }

    [Parameter]
    public string? Link { get; set; }

}