<div class="mx-1" style="display:inline">
    <input 
        type="checkbox"
        @onclick="HandleClick"> 
    @item
</div>

@code {
    [Parameter] 
    public String item { get; set; } = "";
    [Parameter]
    public EventCallback<CheckboxData> OnClickCheckbox { get; set; }

    private bool state { get; set; } = false;

    private async Task HandleClick()
    {
        state = ! state;
        await OnClickCheckbox.InvokeAsync(new CheckboxData(item, state));
    }
}