<div class="mx-1" style="display:inline">
    <input 
        type="checkbox"
        @onclick="HandleClick"> 
    @formatNumber(item, isLast)
</div>

@code {
    [Parameter]
    public String item { get; set; } = "";
    [Parameter]
    public EventCallback<CheckboxData> OnClickCheckbox { get; set; }

    [Parameter] 
    public bool isLast { get; set; } = false;

    private bool state { get; set; } = false;

    private async Task HandleClick()
    {
        state = ! state;
        await OnClickCheckbox.InvokeAsync(new CheckboxData(item, state));
    }

    public String formatNumber(String number, bool isLast)
    {
        if (isLast)
        {
            return "> " + number;
        }
        else
        {
            return "< " + number;
        }
    }
}