<div>
@title &#8205; &#8205; &#8205; &#8205; &#8205; | &#8205; &#8205; @addRemove &#8205; &#8205; &#8205; &#8205;
</div>

@code { 
    [Parameter] public string? title { get; set;}
    [Parameter] public string? addRemove { get; set;}
}
