.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html, body{
    margin: 0px;
    padding: 0px;
}

.page-background-class {
    background-image: url("/App/cooking_bg.jpg");
    position: absolute;
    background-repeat: repeat;
    /* 640 x 960 */
    width: 100%;
    height: 100%;
}

