@inject NavOracle NavOracle

<nav class="fixed-bottom bg-light">
    <ul class="nav justify-content-center" style="width: 100%;">
        <li class="nav-item"
        style="background-color: @bgHome; width:33.33%">
            <a class="nav-link"
            aria-current="page" 
            href="/"
            @onclick="OnClickHome" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16" style="display: block; width:100%">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
            </svg>
            Home</a>
        </li>
        <li class="nav-item"
        style="background-color: @bgDiscover;width:33.33%">
            <a class="nav-link" 
            href="discover"
            @onclick="OnClickDiscover">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16" style="display: block; width:100%">
            <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
            </svg>
            Discover</a>
        </li>
        <li class="nav-item"
        style="background-color: @bgFav; width:33.33%">
            <a class="nav-link" 
            href="favourites"
            @onclick="OnClickFavourites" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="display: block; width:100%">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            Favourites</a>
        </li>
    </ul>
</nav>

@code {
    private static String bgHighlight = "#ef5c5c";
    private static String bgNormal = "white";

    private String bgHome { get; set; } = "";
    private String bgDiscover { get; set; } = "";
    private String bgFav { get; set; } = "";

    protected override void OnInitialized()
    {
        if (NavOracle.current == "Home")
        {
            bgHome      = bgHighlight;
            bgDiscover  = bgNormal;
            bgFav       = bgNormal;
        }
        else if (NavOracle.current == "Discover")
        {
            bgHome      = bgNormal;
            bgDiscover  = bgHighlight;
            bgFav       = bgNormal;
        }
        else if (NavOracle.current == "Favourites")
        {
            bgHome      = bgNormal;
            bgDiscover  = bgNormal;
            bgFav       = bgHighlight;
        }
    }

    public void OnClickHome() {
        NavOracle.current="Home";
        bgHome      = bgHighlight;
        bgDiscover  = bgNormal;
        bgFav       = bgNormal;
    }

    public void OnClickDiscover() {
        NavOracle.current="Discover";
        bgHome      = bgNormal;
        bgDiscover  = bgHighlight;
        bgFav       = bgNormal;
    }
    
    public void OnClickFavourites() {
        NavOracle.current="Favourites";
        bgHome      = bgNormal;
        bgDiscover  = bgNormal;
        bgFav       = bgHighlight;
    }
}