
<nav class="fixed-bottom bg-light">
  <div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="favourites">Favourites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="discover">Discover</a>
        </li>
    </ul>
  </div>
</nav>