<div class="h-100 d-flex align-items-center justify-content-center">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <SearchFilter />
    <SearchButton />
</div>
    

@code {
    private bool isFilterVisible = false;
    
    private void toggleFilter()
    {
        isFilterVisible = ! isFilterVisible;
    } 
}