@inject YourIngredients YourIngredients
@inject CommonIngredients CommonIngredients

<div>
    <label for="yourIngredients">Your Ingredients</label>
    <div 
        class="ingredient-box d-flex align-content-start flex-wrap justify-content-center mb-3"
        id="yourIngredients"
        style="height: 120px; overflow-y: auto; border: gray; border-width: 1px; border-radius: 16px; border-style: solid;">
            @foreach (var name in YourIngredients.list)
            {
                <IngredientEntry
                    name="@name"
                    addRemove="IngredientEntryMode.Remove"
                    OnClickIngredient="handleIngredientMove"
                />
            }
    </div>

    <label for="commonIngredients">Common Ingredients</label>
    <div 
        class="ingredient-box d-flex align-content-start flex-wrap justify-content-center"
        id="commonIngredients"
        style="height: 120px; overflow-y: auto; border: gray; border-width: 1px; border-radius: 16px; border-style: solid;">
            @foreach (var name in visibleCommonIngredients)
            {
                <IngredientEntry
                    name="@name"
                    addRemove="IngredientEntryMode.Add"
                    OnClickIngredient="handleIngredientMove"
                />
            }
    </div>
</div>

@code {
    public List<String> visibleCommonIngredients {get; set;} = new List<String> {};

    protected override void OnInitialized()
    {
        visibleCommonIngredients = CommonIngredients.Get();
    }

    public void handleIngredientMove(IngredientEntryData ingredient) {
        if (ingredient.mode == IngredientEntryMode.Add)
        {
            visibleCommonIngredients.Remove(ingredient.name);
            YourIngredients.Add(ingredient.name);
        }
        else // Remove
        {
            YourIngredients.Remove(ingredient.name);
            if (CommonIngredients.Contains(ingredient.name))
            {
                visibleCommonIngredients.Add(ingredient.name);
            }
        }
    }
}