@inject YourIngredients YourIngredients

<button 
    class="btn btn-outline-primary" 
    type="submit" 
    @onclick="@AddToYourIngredients">
        Add
</button>

@code {
  public static List<string> allIngredients = new CookingInstructor.Data.Recipes().GetIngredients();
  
  [Parameter]
  public string? IngredientName { get; set; } = "";
  
  [Parameter]
  public EventCallback OnAddIngredient { get; set; }

  public async Task onIngredientAdded() {
      await OnAddIngredient.InvokeAsync();
  }
  
  private async Task AddToYourIngredients() 
  {
    int result = allIngredients.FindIndex(x => x.Equals(IngredientName, StringComparison.OrdinalIgnoreCase));

    if (result >= 0) {
      YourIngredients.Insert(0, allIngredients[result]);
      await onIngredientAdded();
    }
  }
}