<div class="h-100 d-flex align-items-center justify-content-center">
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <Autocomplete 
        searchMode="@searchMode"
    />

    @if (searchMode == SearchModeEnum.ByRecipe) {
        <SearchFilter />
    }
    <SearchButton />
</div>
    

@code {
    [Parameter]
    public SearchModeEnum searchMode { get; set; }
}