<div id="filterChecks" div style=border:5px solid black;">
    <label><u>Time:</u></label>
    <ul style="padding-left:0px">
        <li class="mx-1" style="display:inline"><input type="checkbox"> &lt; 10min</li>
        <li class="mx-1" style="display:inline"><input type="checkbox"> &lt; 20min </li>
        <li class="mx-1" style="display:inline"><input type="checkbox"> &lt; 30min </li>
        <li class="mx-1" style="display:inline"><input type="checkbox"> &gt; 30min </li>
    </ul>

    <label><u>Difficulty:</u></label>
    <ul style="padding-left:0px">
        <li class="mx-2" style="display:inline"><input type="checkbox">Easy </li>
        <li class="mx-2" style="display:inline"><input type="checkbox">Medium </li>
        <li class="mx-2" style="display:inline"><input type="checkbox">Hard </li>
    </ul>

    <label><u>Types:</u></label>
    <ul style="padding-left:0px">
        <li class="mx-2" style="display:inline"><input type="checkbox">Vegan </li>
        <li class="mx-2" style="display:inline"><input type="checkbox">Vegetarian </li>
        <li class="mx-2" style="display:inline"><input type="checkbox">GF </li>
    </ul>
</div>