<div>
    <label for="exampleFormControlSelect2">Your Ingredients</label>
    <div class="d-flex align-content-center flex-wrap justify-content-center">
        @foreach (var name in yourIngredients()) {
            <IngredientEntry 
                name="@name"
                addRemove="IngredientEntryMode.Remove"
                OnClickIngredient="handleIngredientMove"
            />
        }
    </div>

    <label for="exampleFormControlSelect2">Common Ingredients</label>
    <div class="d-flex align-content-center flex-wrap justify-content-center">
        @foreach (var name in commonIngredients()) {
            <IngredientEntry 
                name="@name"
                addRemove="IngredientEntryMode.Add"
                OnClickIngredient="handleIngredientMove"
            />
        }
    </div>
</div>

@code {
    public String[] yourIngredients() {
        return new String[] {"Tomato", "Chicken"};
    }

    public String[] commonIngredients() {
        return new String[] {"Garlic", "Onion"};
    }

    public void handleIngredientMove(IngredientEntryData ingredient) {
        if (ingredient.mode == IngredientEntryMode.Add) {
            Console.WriteLine("Add " + ingredient.name);
        }
        else { // Remove
            Console.WriteLine("Remove " + ingredient.name);
        }
    }
}