@inject YourIngredients YourIngredients
@inject IJSRuntime jsRuntime
<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick=@NavigateToNewTab>
    <svg xmlns="http://www.w3.org/2000/svg"
         width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
         stroke-linecap="round" stroke-linejoin="round"
         class="mx-3">
        <circle cx="10.5" cy="10.5" r="8"></circle>
        <line x1="21" y1="25" x2="15.8" y2="18.8"></line>
    </svg>
</button>

@code {
    [Parameter]
    public string? CurrentValue { get; set; }
    [Parameter]
    public SearchModeEnum searchMode { get; set; }

    public async Task NavigateToNewTab()
    {
        string url = "https://localhost:7041/SearchPage?name=";

        if (searchMode == SearchModeEnum.ByRecipe)
        {
            url += CurrentValue;
        }
        else 
        { 
            foreach (var name in YourIngredients.list)
            {
                if (name == YourIngredients.list[0])
                {
                    url += name;
                }
                else
                {
                    url += "," + name;
                }
            }
        }
        await jsRuntime.InvokeAsync<object>("open", url, "_blank");
    }
}