<form>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Your Ingredients</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option class="my-2" style="border: gray; border-width: 1px; border-radius: 15%; border-style: solid; display: inline-block;"><IngredientsEntry title="Potato" addRemove="X" /></option>
            <option class="my-2" style="display: inline-block; border: gray; border-width: 1px; border-radius:15%; border-style: solid;"><IngredientsEntry title="Garlic" addRemove="X" /></option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Common Ingredients</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
        <option class="my-2" style="border: gray; border-width: 1px; border-radius: 15%; border-style: solid; display: inline-block;"><IngredientsEntry title="Onion" addRemove="+"/></option>
        <option class="my-2" style="display: inline-block; border: gray; border-width: 1px; border-radius:15%; border-style: solid;"><IngredientsEntry title="Chicken" addRemove="+"/></option>
        </select>
    </div>
</form>