<button 
    class="btn btn-primary"
    @onclick="openModal" 
    data-target="#filterModal">
        Filter
</button>

<div class="modal fade show justify-content-center" id="#filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="display: @modalDisplayType; background-color: rgba(10,10,10,.4);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <SearchFilterContent />
      </div>
      <div class="modal-footer">
        <button type="button" 
            class="btn btn-secondary" 
            @onclick="closeModal">
                Close
        </button>
      </div>
    </div>
  </div>
</div>

@code {
    private bool isModalVisible = false;
    public string modalDisplayType { get { return isModalVisible ? "block" : "none"; } }

    public void openModal()
    {
        isModalVisible = true;
    }
    
    public void closeModal()
    {
        isModalVisible = false;
    }
}