<form>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Your Ingredients</label>
        <select style="display: table; text-align: center; border-spacing: 5px;" multiple class="form-control"
            id="exampleFormControlSelect2">
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="&#8205; Potato" addRemove="X&#8205;" />
            </option>
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="Garlic" addRemove="X" />
            </option>
            <option style="display:table-row"></option>
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="Onion" addRemove="X" />
            </option>
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="&#8205; &#8205; Chicken" addRemove="X" />
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Common Ingredients</label>
        <select style="display: table; text-align: center; border-spacing: 5px;" multiple class="form-control"
            id="exampleFormControlSelect2">
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="Onion" addRemove="+" />
            </option>
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="&#8205; Chicken" addRemove="+" />
            </option>
            <option style="display:table-row"></option>
            <option class="my-2"
                style=" display: table-cell; border: gray; border-width: 1px; border-radius: 15%; border-style: solid;">
                <IngredientsEntry title="&#8205; Tomato" addRemove="+" />
            </option>
        </select>
    </div>
</form>